html,
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  margin: auto;

  --primary: rgb(121, 176, 96);
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
}

select {
  padding: 4px 8px;
  border-color: #dbdbdb;
  border-radius: 4px;
}

header {
  padding: 24px 16px 16px;
  background-color: var(--primary);
  color: #fff;
}

footer {
  text-align: center;
  background-color: var(--primary);
  color: #fff;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#itemForm {
  margin-bottom: 16px;
}

#shoppingList {
  overflow-y: auto;
  flex-grow: 1;
}

#dueDate {
  font-family: Arial, Helvetica, sans-serif;
}

.settings {
  padding: 8px 16px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

.shoppingItem {
  width: 100%;
  display: flex;
  align-items: center;
  height: 32px;
}

.shoppingItem:hover {
  background-color: #f3f3f3;
}

.description {
  flex-grow: 1;
  text-transform: capitalize;
}

.date {
  color: gray;
  margin-right: 16px;
}

.checkbox {
  margin-right: 16px;
  accent-color: var(--primary);
}

.checkbox:checked:after {
  border: 1px solid red;
}

.checkbox:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: rgb(172, 172, 172);
}

.removeButton {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 110, 110);
  border: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.removeButton:hover{
  cursor: pointer;
}